/*General*/

html {
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav {
  margin-right: 10px;
}

a {
  text-decoration: underline;
  color: seashell;
}

h2,
h4 {
  background-color: black;
  padding: 10px;
  margin: 0;
}

.copyright,
.footer,
.location-container,
#locations,
.tea-container,
.item,
.tea-statement,
#tea,
#mission,
.content,
.logo,
header {
  display: flex;
}

.footer,
#locations,
.item,
.tea-statement,
#mission,
.content {
  flex-direction: column;
}

.content,
#mission,
#tea,
.tea-container,
#locations,
.copyright {
  justify-content: center;
}

/*Header*/

header {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  margin-top: -8px;
  z-index: 1;
  align-items: center;
}

.logo {
  margin-left: 10px;
  flex-grow: 1;
}

img {
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.tea-container,
#tea {
  flex-wrap: wrap;
}

/*Mission*/

.content {
  margin: 0px 60px;
  padding-top: 62px;
  width: 1200px;
}

#mission {
  background-image: url("../imgs/img-mission-background.jpg");
  height: 700px;
}

/*Tea*/

#tea {
  margin: auto;
  width :1000px;
  padding-top: 62px;
}

.item {
  padding: 5px;
}

.item img {
  margin: 10px;
  width: 300px;
  height: 200px;
}

/*Locations*/

#locations {
padding-top: 70px;
background-image: url("../imgs/img-locations-background.jpg");
width: 1200px;
height: 500px;
}

#locations h2 {
  background-color: transparent;
}

.location-container {
  margin: 0 auto;
  width: 1200px;
}

.location-item {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 40px;
}

/*Footer*/

.footer {
  height: 200px;
}

.copyright {
  justify-content: flex-start;
  margin-left: 20px;
}
